.DS_Store
__pycache__/
*.py[cod]
*$py.class
.Python
build/
*checkpoint.ipynb
develop-eggs/
dist/
downloads/
eggs/
.eggs/
instance/workspace/projects
instance/workspace/temp
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/