{% extends "base.html" %}
{% block main %}
<script>
  var dbQuery = JSON.parse('{{ manifest["db-query"]|safe }}')
</script>
{% if errors == [] %}
<form method="POST" id="manifestForm">
  <br>
  <div class="row">
    <div class="col-sm">
      <header class="major">
        <h2>Display Project</h2>
      </header>
    </div>
    <div class="col-sm text-right">
      <div class="btn-group">
        <button type="button" id="preview" class="btn btn-lg btn-outline-editorial" title="Preview"><i class="fa fa-search"></i></button>
        <button type="button" id="update" class="btn btn-lg btn-outline-editorial" title="Edit Project" data-action="edit"><i
            class="fa fa-pencil"></i></button>
        <button type="button" id="clone" class="btn btn-lg btn-outline-editorial" title="Save Project As.." data-action="clone"><i
            class="fa fa-clone"></i></button>
        <button type="button" id="delete" class="btn btn-lg btn-outline-editorial" title="Delete Project"><i class="fa fa-trash"></i></button>
        <button type="button" id="export" class="btn btn-lg btn-outline-editorial" title="Export"><i class="fa fa-download"></i></button>
        <button type="button" title="Open in Virtual Workspace" class="btn btn-lg btn-outline-editorial dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-rocket"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button id="topic-modeling-btn" class="dropdown-item" type="button">Topic Modeling</button>
          <button id="word-embedding-btn" class="dropdown-item" type="button" disabled>Word Embedding</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body">
    <ul class="nav nav-tabs" id="publicationsFormNav" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="required-tab" data-toggle="tab" href="#required" role="tab" aria-controls="required"
          aria-selected="true">Required Properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="optional-tab" data-toggle="tab" href="#optional" role="tab" aria-controls="optional"
          aria-selected="false">Optional Properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="resources-tab" data-toggle="tab" href="#resources" role="tab" aria-controls="resources"
          aria-selected="false">Data Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="workflows-tab" data-toggle="tab" href="#workflows" role="tab" aria-controls="resources"
          aria-selected="false">Workflows</a>
      </li>
    </ul>
    <br>
    {# Generate a unique ID - Keep everything on one line to prevent extra white space #}
    {% macro random_int(vals) %}{% for n in range(6) %}{{ vals|random }}{% endfor %}{% endmacro %}
    {% macro unique_id(property_name) %}{% set vals = [0,1,2,3,4,5,6,7,8,9,'c','a','t'] %}{% set parts =
    [random_int(vals), random_int(vals), random_int(vals), random_int(vals), random_int(vals), random_int(vals)]
    %}{{property_name}}{{parts|join('')}}{% endmacro %}
    <div id="manifestCard">
      <div class="tab-content" id="projectForm">
        {% set template = templates['project-template'] %}
        {% set required_opts = template[0]['required'] %}
        {% set optional_opts = template[1]['optional'] %}
        <div class="tab-pane fade show active" id="required" role="tabpanel" aria-labelledby="required-tab">
          <!-- Loop through Required Options -->
          {% for opt in required_opts %}
          <!-- Fields Containing Generic Strings -->
          {% if manifest[opt.name] is string and opt.name != 'created' and not opt.skip %}
          <div id="{{unique_id(opt.name)}}" class="form-group row" data-fieldtype="{{ opt.name }}" data-id="{{ opt.name + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ opt.name }}">{{ opt.name }}</label>
            <div class="col-sm-10">
              <input name="{{ opt.name }}" id="{{ opt.name }}" type="text" placeholder="{{ opt.placeholder|safe or '' }}"
                value="{{ manifest[opt.name]|safe if manifest[opt.name] }}" class="form-control"
                {{ 'required' if opt.required }} readonly disabled>
            </div>
            {% if 'repeatable' in required_opts[opt] %}
            <div class="col-sm-1" style="padding: 5px 0px;">
              <button type="button" class="btn btn-sm btn-outline-editorial add add-source" title="Add another source"><i
                  class="fa fa-plus-circle"></i></button>
              <button type="button" class="btn btn-sm btn-outline-editorial remove remove-source hidden" title="Remove source"><i
                  class="fa fa-minus-circle"></i></button>
            </div>
            {% endif %}
          </div>
          {% elif opt.name == 'created' %}
          <div id="created0" class="form-group row created-row input-group daterange created0" data-fieldtype="{{ opt.name }}"
            data-id="{{ opt.name + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="created">created</label>
            <div class="col-sm-3">
              <input type="text" name="created" id="created" class="form-control datepicker" placeholder="Date created"
                value="{{ manifest['created']|safe }}" readonly disabled>
            </div>
          </div>
          <!-- Fields Containing Lists -->
          {% elif manifest[opt.name]|is_list and opt.name != 'created' and not opt.skip %}
          <!-- Loop through Each Row -->
          {% for row in manifest[opt.name] %}
          {% if row is mapping %}
          {% if opt.name == 'contributors' %}
          <div id="{{unique_id(opt.name)}}" class="form-group row" data-fieldtype="{{ opt.name }}" data-id="{{ opt.name + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ opt.name }}">{{ opt.name if loop.index0 == 0
              }}</label>
            <input type="hidden" id="contributors" name="contributors" value="" disabled>
            <div class="col-sm-3">
              <input type="text" class="form-control contributor-field" id="contributorTitle{{ loop.index0 }}" name="contributorTitle"
                placeholder="Title" {{ 'required' if opt.required }} value="{{ row['title']|safe if manifest[opt.name] != [''] }}"
                readonly disabled>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control contributor-field" id="contributorGroup{{ loop.index0 }}" name="contributorGroup"
                placeholder="Group" value="{{ row['group']|safe if row != [''] }}" required readonly disabled>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control contributor-field" id="contributorOrg{{ loop.index0 }}" name="contributorOrg"
                placeholder="Organization" value="{{ row['org']|safe if manifest[opt.name] != [''] }}" readonly
                disabled>
            </div>
            <div class="col-sm-1" style="padding: 5px 0px;">
              <button type="button" class="btn btn-sm btn-outline-editorial add add-contributor" title="Add another contributor"
                disabled><i class="fa fa-plus-circle"></i></button>
              <button type="button" class="btn btn-sm btn-outline-editorial remove remove-contributor hidden" title="Remove contributor"
                disabled><i class="fa fa-minus-circle"></i></button>
            </div>
          </div>
          {% endif %}
          {% elif not opt.skip %}
          <div id="{{unique_id(opt.name)}}" class="form-group row" data-fieldtype="{{ opt.name }}" data-id="{{ opt.name + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ opt.name }}">{{ opt.name if loop.index0 == 0
              }}</label>
            <div class="col-sm-10">
              <input name="{{ opt.name }}" id="{{ opt.name }}" type="text" placeholder="{{ opt.placeholder|safe or '' }}"
                value="{{ manifest[opt.name]|safe if manifest[opt.name] != [''] }}" class="form-control"
                {{ 'required' if opt.required }} readonly disabled>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          <!-- /* Multiple Rows -->
          {% endif %}
          {% endfor %}
        </div>
        <div class="tab-pane fade show" id="optional" role="tabpanel" aria-labelledby="optional-tab">
          {% for opt in optional_opts %}
          <!-- Single Field Row -->
          {% if manifest[opt.name] is string and not opt.skip %}
          <div id="{{unique_id(opt.name)}}" class="form-group row" data-fieldtype="{{ opt.name }}" data-id="{{ opt.name + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ opt.name }}">{{ opt.name }}</label>
            <div class="col-sm-10">
              <input class="form-control" name="{{ opt.name }}" id="{{ opt.name }}" type="text" placeholder="{{ opt.placeholder|safe or '' }}"
                value="{{ manifest[opt.name]|safe if manifest[opt.name] != [''] }}" class="form-control"
                {{ 'required' if opt.required }} readonly disabled>
            </div>
            {% if 'repeatable' in optional_opts[opt.name] %}
            <div class="col-sm-1" style="padding: 5px 0px;">
              <button type="button" class="btn btn-sm btn-outline-editorial add add-source" title="Add another source"
                disabled><i class="fa fa-plus-circle"></i></button>
              <button type="button" class="btn btn-sm btn-outline-editorial remove remove-source hidden" title="Remove source"
                disabled><i class="fa fa-minus-circle"></i></button>
            </div>
            {% endif %}
          </div>
          <!-- Multiple Field Row -->
          {% elif manifest[opt.name]|is_list and not opt.skip %}
          {% for row in manifest[opt.name] %}
          {% if opt.name == 'licenses' %}
          <div id="{{unique_id(opt.name)}}" class="form-group row" data-fieldtype="{{ opt.name }}" data-id="{{ opt.name + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ opt.name }}">{{opt.name if loop.index0 == 0
              }}</label>
            <input type="hidden" id="licenses" name="licences" value="" disabled>
            <div class="col-sm-3">
              <input type="text" class="form-control licence-field" id="licenceTitle{{ loop.index0 }}" name="licenceTitle"
                placeholder="Title" {{ 'required' if opt.required }} value="{{ row['title']|safe if row is mapping }}"
                readonly disabled>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control licence-field" id="licenceGroup{{ loop.index0 }}" name="licenceGroup"
                placeholder="Group" value="{{ row['group']|safe if row is mapping }}" required readonly disabled>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control licence-field" id="licenceOrg{{ loop.index0 }}" name="licenceOrg"
                placeholder="Organization" value="{{ row['org']|safe if row is mapping }}" readonly disabled>
            </div>
            <div class="col-sm-1" style="padding: 5px 0px;">
              <button type="button" class="btn btn-sm btn-outline-editorial add add-license" title="Add another license"
                disabled><i class="fa fa-plus-circle"></i></button>
              <button type="button" class="btn btn-sm btn-outline-editorial remove remove-contributor hidden" title="Remove license"
                disabled><i class="fa fa-minus-circle"></i></button>
            </div>
          </div>
          {% elif opt.name == 'updated' %}
          <div id="updated0" class="form-group row updated-row input-group daterange updated0" data-fieldtype="{{ opt.name }}"
            data-id="{{ opt.name + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="updated-start0">{{opt.name if loop.index0 == 0 }}</label>
            <div class="col-sm-4">
              <input data-parsley-dateformat="date" type="text" name="updated-start0" id="updated-start{{ loop.index0 }}"
                class="form-control datepicker" placeholder="Start Date" value="{{ row['start']|safe if row is mapping }}"
                readonly disabled>
            </div>
            <div class="col-sm-4">
              <input data-parsley-dateformat="date" type="text" name="updated-end0" id="updated-end{{ loop.index0 }}"
                class="form-control datepicker" placeholder="End Date" value="{{ row['end']|safe if row is mapping }}"
                readonly disabled>
            </div>
            <div class="col-sm-2" style="padding: 5px 0px;">
              <button type="button" class="btn btn-sm btn-outline-editorial add-date" data-row="updated" title="Add another date"
                disabled><i class="fa fa-plus-circle"></i></button>
              <button type="button" class="btn btn-sm btn-outline-editorial remove-date" data-row="updated" data-count="updated0"
                title="Remove date" disabled><i class="fa fa-minus-circle"></i></button>
            </div>
          </div>
          {% elif opt.name == 'description' %}
          <div id="descriptionRow" class="form-group row" data-fieldtype="{{ opt.name }}" data-id="{{ opt.name + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ opt.name }}">{{ opt.name if loop.index0 == 0
              }}</label>
            <div class="col-sm-10">
              <textarea name="description" id="description" class="form-control" placeholder="{{ opt.placeholder|safe or '' }}"
                {{ 'required' if opt.required }} readonly disabled>{{ row|safe if manifest[opt.name] != [''] }}</textarea>
            </div>
          </div>
          {% elif opt.name == 'notes' %}
          <div id="notesRow" class="form-group row" data-fieldtype="{{ opt.name }}" data-id="{{ opt.name + loop.index0|string or '' }}">
            <input type="hidden" id="notes" name="notes" value="">
            <label class="col-sm-2 col-form-label" for="{{ opt.name }}">{{ opt.name if loop.index0 == 0
              }}</label>
            <div class="col-sm-9">
              <textarea name="notesField" id="note{{ loop.index0 }}" class="form-control note-field" placeholder="{{ opt.placeholder|safe or '' }}"
                {{ 'required' if opt.required }} readonly disabled>{{ row|safe if manifest[opt.name] != '' }}</textarea>
            </div>
            <div class="col-sm-1" style="padding: 15px 0px;">
              <button type="button" class="btn btn-sm btn-outline-editorial add add-note" disabled title="Add another note"
                disabled><i class="fa fa-plus-circle"></i></button>
              <button type="button" class="btn btn-sm btn-outline-editorial remove remove-note hidden" disabled title="Remove note"
                disabled><i class="fa fa-minus-circle"></i></button>
            </div>
          </div>
          {% elif not opt.skip %}
          <div id="{{unique_id(opt.name)}}" class="form-group row" data-fieldtype="{{ opt.name }}" data-id="{{ opt.name + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ opt.name }}">{{ opt.name if loop.index0 == 0
              }}</label>
            <div class="col-sm-10">
              <input name="{{ opt.name }}" id="{{ opt.name }}" type="text" placeholder="{{ opt.placeholder|safe or '' }}"
                value="{{ manifest[opt.name]|safe if manifest[opt.name] != '' }}" class="form-control"
                {{ 'required' if opt.required }} readonly disabled>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
        </div>
        <div class="tab-pane fade show" id="resources" role="tabpanel" aria-labelledby="resources-tab">
          {#
          '{"$and": [{"name": " "}]}' is the default empty database query
          Currently, you are not forced to have a database-query
          #}
          <div id="query-row" class="form-group row">
            <div class="col-sm-10">
              <label class="col-form-label" for="databaseQuery">Database Query</label>
              <div id="search-form">
                <textarea id="db-query" name="db-query" placeholder="Show database query here." readonly>{{ manifest['db-query']|safe }}</textarea>
              </div>
            </div>
          </div>
        </div> <!-- /tab-pane -->
        <div class="tab-pane fade show" id="workflows" role="tabpanel" aria-labelledby="workflows-tab">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Version</th>
                <th scope="col">Date</th>
                <th scope="col">Workflow</th>
                <th scope="col">Filename</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for item in manifest['content'] %}
              <input type="hidden" id="versions" name="content" value="{{manifest['content']}}">
              <tr id="workflow{{ item['version_number'] }}">
                <th scope="row">{{ item['version_number'] }}</th>
                <td>{{ item['date'] }}</td>
                <td>{{ item['workflow'] | title | replace('-', ' ') }}</td>
                <td>{{ item['filename'] }}</td>
                <td>
                  <button type="button" id="launch{{ item['version_number'] }}" class="btn btn-sm btn-outline-editorial launch-version"
                    title="Launch Version"><i class="fa fa-rocket"></i></button>
                    <button type="button" id="clone{{ item['version_number'] }}" class="btn btn-sm btn-outline-editorial clone-version" title="Save Version As.." data-action="clone"><i
                      class="fa fa-clone"></i></button>          
                    <button type="button" id="export{{ item['version_number'] }}" class="btn btn-sm btn-outline-editorial export-version"
                    title="Export Version"><i class="fa fa-download"></i></button>
                  <button type="button" id="delete{{ item['version_number'] }}" class="btn btn-sm btn-outline-editorial delete-version"
                    title="Delete Version"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!-- /tab-pane -->
      </div> <!-- /projectForm -->
    </div> <!-- /manifestCard -->
  </div>
</form>
{% else %}
<br>
<div class="row">
  <div class="col-sm">
    <header class="major">
      <h2>Display Project</h2>
    </header>
  </div>
</div>
<div class="row">
  {% for error in errors %}
  <p>{{error|safe}}</p>
  {% endfor %}
</div>
{% endif %}

<!-- Preview -->
<div id="previewDisplay" style="display: none;">
  <br>
  <button id="hide" class="btn btn-lg btn-outline-editorial">Hide</button>
  <pre id="manifest"></pre>
</div>

<!-- Date Template -->
<div class="form-group row input-group date-template" style="display: none;">
  <label class="col-sm-2 col-form-label"></label>
  <div class="col-sm-4">
    <input type="text" class="form-control datepicker" placeholder="Start Date">
  </div>
  <div class="col-sm-4">
    <input type="text" class="form-control datepicker" placeholder="End Date">
  </div>
  <div class="col-sm-2" style="padding: 5px 0px;">
    <button type="button" class="btn btn-sm btn-outline-editorial add-date" data-row="updated" title="Add another date"><i
        class="fa fa-plus-circle"></i></button>
    <button type="button" class="btn btn-sm btn-outline-editorial remove-date" data-row="updated" title="Remove date"><i
        class="fa fa-minus-circle"></i></button>
  </div>
</div>
{% endblock main %}