{% extends "base.html" %}
{% block main %}
<style type="text/css">

/* Disabled Checkbox Styles */
.checkbox-disabled {
    opacity: 0 !important;
}

.not-allowed {
    cursor: not-allowed !important;
}
</style>
{% if errors %}
{% for error in errors %}
<p>{{ error|safe }}</p>
{% endfor %}
{% else %}
<form method="POST" id="manifestForm">
<br>
<div class="row">
    <div class="col-sm">
        <header class="major">
            <h2>Display a Source Manifest</h2>
        </header>
    </div>    
    <div class="col-sm text-right">
        <div class="btn-group">
            <button type="button" id="preview" class="btn btn-lg btn-outline-editorial" title="Preview"><i class="fa fa-search"></i></button>
            <button type="button" id="update" class="btn btn-lg btn-outline-editorial" title="Edit" data-action="update"><i class="fa fa-pencil"></i></button>
            <button type="button" id="delete" class="btn btn-lg btn-outline-editorial" title="Delete"><i class="fa fa-trash"></i></button>
            <button type="button" id="export" class="btn btn-lg btn-outline-editorial" title="Export"><i class="fa fa-download"></i></button>  
        </div>  
    </div>
</div>
<ul class="nav nav-tabs" id="sourcesFormNav" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="required-tab" data-toggle="tab" href="#required" role="tab" aria-controls="required" aria-selected="true">Required Properties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="optional-tab" data-toggle="tab" href="#optional" role="tab" aria-controls="optional" aria-selected="false">Optional Properties</a>
    </li>
</ul>
<br>
    {# Generate a unique ID - Keep everything on one line to prevent extra white space #}
    {% macro random_int(vals) %}{% for n in range(6) %}{{ vals|random }}{% endfor %}{% endmacro %}
    {% macro unique_id(property_name) %}{% set vals = [0,1,2,3,4,5,6,7,8,9,'c','a','t'] %}{% set parts =
    [random_int(vals), random_int(vals), random_int(vals), random_int(vals), random_int(vals), random_int(vals)]
    %}{{property_name}}{{parts|join('')}}{% endmacro %}

<div class="tab-content" id="sourcesForm">
    {% set required_opts = templates[0]['required'] %}
    {% set optional_opts = templates[1]['optional'] %}

    <div class="tab-pane fade show active" id="required" role="tabpanel" aria-labelledby="required-tab">
    {% for opt in required_opts %}
        {% set prop = opt.name|safe %}
        {% if not opt.skip %}
        <!-- Single Field Row -->
        <div id="{{unique_id(prop)}}" class="form-group row" data-fieldtype="{{ prop }}"
            data-id="{{ prop + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ prop }}">{{ prop }}</label>
            <div class="col-sm-10">
                <input name="{{ prop }}" id="{{ prop }}" type="text" placeholder="{{ prop.placeholder|safe or '' }}"
                    value="{{ manifest[prop]|safe if manifest[prop] }}" class="form-control"
                    {{ 'required' if prop.required }} readonly disabled>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <!-- Optional -->
    <div class="tab-pane fade show" id="optional" role="tabpanel" aria-labelledby="optional-tab">
        {% for prop in optional_opts %}
        <!-- Single Field Row -->
        {% if prop.fieldtype == 'text' and manifest[prop['name']] is string  and not prop.skip %}
        <div id="{{unique_id(prop['name'])}}" class="form-group row" data-fieldtype="{{ prop['name'] }}"
            data-id="{{ prop['name'] + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ prop['name'] }}">{{ prop['name'] }}</label>
            <div class="col-sm-10">
                <input class="form-control" name="{{ prop['name'] }}" id="{{ prop['name'] }}" type="text"
                    placeholder="{{ prop.placeholder|safe or '' }}" value="{{ manifest[prop]|safe if manifest[prop] }}"
                    class="form-control" {{ 'required' if prop.required }} readonly disabled>
            </div>
            {% if 'repeatable' in optional_opts[prop] %}
            <div class="col-sm-1" style="padding: 5px 0px;">
                <button type="button" class="btn btn-sm btn-outline-editorial add add-source" title="Add another source"
                    disabled><i class="fa fa-plus-circle"></i></button>
                <button type="button" class="btn btn-sm btn-outline-editorial remove remove-source hidden"
                    title="Remove source" disabled><i class="fa fa-minus-circle"></i></button>
            </div>
            {% endif %}
        </div>
        {% elif prop['name'] == 'citation' %}
        <div id="citationRow" class="form-group row" data-fieldtype="{{ prop['name'] }}" data-id="{{ prop['name'] + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ prop['name'] }}">{{ prop['name'] }}</label>
            <div class="col-sm-10">
                <textarea name="citation" id="citation" class="form-control"
                    placeholder="{{ prop['placeholder']|safe or '' }}" {{ 'required' if prop['required'] }}
                    readonly disabled>{{ manifest['citation']|safe if manifest['citation'] }}</textarea>
            </div>
        </div>
        {% elif prop['name'] == 'tags' %}
        <div id="tagsRow" class="form-group row" data-fieldtype="{{ prop['name'] }}" data-id="{{ prop['name'] + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ prop['name'] }}">{{ prop['name'] }}</label>
            <div class="col-sm-10">
                <textarea name="citation" id="citation" class="form-control"
                    placeholder="{{ prop['placeholder']|safe or '' }}" {{ 'required' if prop['required'] }}
                    readonly disabled>{{ manifest['tags']|safe if manifest['tags'] }}</textarea>
            </div>
        </div>
        {% elif prop.fieldtype == 'select' %}
        <div id="{{unique_id(prop['name'])}}" class="form-group row" data-fieldtype="{{ prop['name'] }}"
            data-id="{{ prop['name'] + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ prop.name|safe }}">{{ prop.default|safe }}</label>
            <div class="col-sm-10">
                {% if prop.name == 'language' %}
                {% set select_opts = lang_list %}
                {% set default = prop.default %}
                {% else %}
                {% set select_opts = country_list %}
                {% set default = prop.default %}
                {% endif %}
                <select name="{{ prop.name|safe }}" id="{{ prop.name|safe }}" type="text"class="form-control" {{ 'required' if prop.required }} {{ 'readonly' if prop.readonly }} {{ 'disabled' if prop.disabled }} readonly disabled>
                    {% for item in select_opts %}
                    <option value="{{ item }}" {{ 'selected="selected"' if item == prop.default }}>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Multiple Field Row -->
        {% elif manifest[prop['name']]|is_list and not prop.skip %}
        {% for row in manifest[prop['name']] %}
        {% if prop.name == 'authors' %}
        <input type="hidden" id="authors" name="authors" value="">
        <div id="{{ prop.name|safe + loop.index0|string }}" class="form-group row" data-fieldtype="{{ prop.name|safe }}"
            data-id="{{ prop.name|safe + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="authorName0">authors</label>
            <div class="col-sm-3">
                <input type="text" class="form-control author-field" id="authorName0" name="authorName" placeholder="Author name"
                    {{ 'required' if prop.required }} value="{{ row['name']|safe }}" readonly disabled>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control author-field" id="authorGroup0" name="authorGroup" placeholder="Group"
                {{ 'required' if prop.required }} value="{{ row['group']|safe }}" readonly disabled>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control author-field" id="authorOrg0" name="authorOrg" placeholder="Organization" {{ 'required' if prop.required }} value="{{ row['org']|safe }}" readonly disabled>
            </div>
            <div class="col-sm-1" style="padding: 5px 0px;">
                <button type="button" class="btn btn-sm btn-outline-editorial add add-author" title="Add another author" disabled><i
                        class="fa fa-plus-circle"></i></button>
                <button type="button" class="btn btn-sm btn-outline-editorial remove remove-author"
                    title="Remove author" disabled><i class="fa fa-minus-circle"></i></button>
            </div>
        </div>
        {% elif prop['name'] == 'updated' %}
        <div id="updated0" class="form-group row updated-row input-group daterange updated0" data-fieldtype="{{ prop['name'] }}"
            data-id="{{ prop['name'] + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="updated-start0">{{prop['name'] if loop.index0 == 0 }}</label>
            <div class="col-sm-4">
                <input data-parsley-dateformat="date" type="text" name="updated-start0" id="updated-start{{ loop.index0 }}"
                    class="form-control datepicker" placeholder="Start Date" value="{{ row['start']|safe if row is mapping }}"
                    readonly disabled>
            </div>
            <div class="col-sm-4">
                <input data-parsley-dateformat="date" type="text" name="updated-end0" id="updated-end{{ loop.index0 }}"
                    class="form-control datepicker" placeholder="End Date" value="{{ row['end']|safe if row is mapping }}"
                    readonly disabled>
            </div>
            <div class="col-sm-2" style="padding: 5px 0px;">
                <button type="button" class="btn btn-sm btn-outline-editorial add-date" data-row="updated"
                    title="Add another date" disabled><i class="fa fa-plus-circle"></i></button>
                <button type="button" class="btn btn-sm btn-outline-editorial remove-date" data-row="updated"
                    data-count="updated0" title="Remove date" disabled><i class="fa fa-minus-circle"></i></button>
            </div>
        </div>
        {% elif prop['name'] == 'description' %}
        <div id="descriptionRow" class="form-group row" data-fieldtype="{{ prop['name'] }}" data-id="{{ prop['name'] + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ prop['name'] }}">{{ prop['name'] if loop.index0 == 0
                }}</label>
            <div class="col-sm-10">
                <textarea name="description" id="description" class="form-control"
                    placeholder="{{ prop['placeholder']|safe or '' }}" {{ 'required' if prop['required'] }}
                    readonly disabled>{{ prop['value']|safe if prop['value'] }}</textarea>
            </div>
        </div>
        {% elif prop['name'] == 'notes' %}
        <div id="notesRow" class="form-group row" data-fieldtype="{{ prop['name'] }}" data-id="{{ prop['name'] + loop.index0|string or '' }}">
            <input type="hidden" id="notes" name="notes" value="">
            <label class="col-sm-2 col-form-label" for="{{ prop['name'] }}">{{ prop['name'] if loop.index0 == 0
                }}</label>
            <div class="col-sm-9">
                <textarea name="notesField" id="note{{ loop.index0 }}" class="form-control note-field"
                    placeholder="{{ prop['placeholder']|safe or '' }}" {{ 'required' if prop['required'] }}
                    readonly disabled>{{ prop['value']|safe if prop['value'] }}</textarea>
            </div>
            <div class="col-sm-1" style="padding: 15px 0px;">
                <button type="button" class="btn btn-sm btn-outline-editorial add add-note" disabled title="Add another note"
                    disabled><i class="fa fa-plus-circle"></i></button>
                <button type="button" class="btn btn-sm btn-outline-editorial remove remove-note hidden"
                    disabled title="Remove note" disabled><i class="fa fa-minus-circle"></i></button>
            </div>
        </div>
        {% elif not prop.skip %}
        <div id="{{unique_id(prop['name'])}}" class="form-group row" data-fieldtype="{{ prop['name'] }}"
            data-id="{{ prop['name'] + loop.index0|string or '' }}">
            <label class="col-sm-2 col-form-label" for="{{ prop['name'] }}">{{ prop['name'] if loop.index0 == 0
                }}</label>
            <div class="col-sm-10">
                <input name="{{ prop['name'] }}" id="{{ prop['name'] }}" type="text" placeholder="{{ prop.placeholder|safe or '' }}"
                    value="{{ manifest[prop]|safe if manifest[prop] }}" class="form-control"
                    {{ 'required' if prop.required }} readonly disabled>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- /* Multiple Rows -->
        {% endif %}
        {% endfor %}
    </div>
</div>
</form>
<!-- Preview -->
<div id="previewDisplay" style="display: none;">
    <br>
    <button id="hide" class="btn btn-lg btn-outline-editorial">Hide</button>
    <pre id="manifest"></pre>
</div>

<!-- authors Template -->
<script type="text/html" id="authors-template">
    <div id="authors0" class="form-group row" data-fieldtype="authors" data-id="authors0">
        <label class="col-sm-2 col-form-label" for="authorName">&nbsp;</label>
        <div class="col-sm-3">
            <input type="text" class="author-field authorName" name="authorName" placeholder="Author Name">
        </div>
        <div class="col-sm-3">
            <input type="text" class="author-field authorGroup" name="authorGroup" placeholder="Group">
        </div>
        <div class="col-sm-3">
            <input type="text" class="author-field authorOrg" name="authorOrg" placeholder="Organization">
        </div>    
        <div class="col-sm-1" style="padding: 5px 0px;">
            <button type="button" class="btn btn-sm btn-outline-editorial add add-author" title="Add another author"><i class="fa fa-plus-circle"></i></button>
            <button type="button" class="btn btn-sm btn-outline-editorial remove remove-author" title="Remove author"><i class="fa fa-minus-circle"></i></button>
        </div>
    </div>            
</script>

<!-- authors Template -->
<script type="text/html" id="authors-template">
    <div id="" class="form-group row" data-fieldtype="authors" data-id="authors">
        <label class="col-sm-2 col-form-label" for="authorName">&nbsp;</label>
        <div class="col-sm-3">
            <input type="text" class="author-field authorName" name="authorName" placeholder="Author Name">
        </div>
        <div class="col-sm-3">
            <input type="text" class="author-field authorGroup" name="authorGroup" placeholder="Group">
        </div>
        <div class="col-sm-3">
            <input type="text" class="author-field authorOrg" name="authorOrg" placeholder="Organization">
        </div>    
        <div class="col-sm-1" style="padding: 5px 0px;">
            <button type="button" class="btn btn-sm btn-outline-editorial add add-author" title="Add another author"><i class="fa fa-plus-circle"></i></button>
            <button type="button" class="btn btn-sm btn-outline-editorial remove remove-author" title="Remove author"><i class="fa fa-minus-circle"></i></button>
        </div>
    </div>            
</script>

<!-- description Template -->
<script type="text/html" id="description-template">
    <div id="" class="form-group row" data-fieldtype="description" data-id="description">
    <label class="col-sm-2 col-form-label" for="description">&nbsp;</label>
    <div class="col-sm-10">
        <textarea name="descriptionField" id="description" class="form-control"></textarea>
    </div>
</div>    

<!-- notes Template -->
<script type="text/html" id="notes-template">
<div id="" class="form-group row" data-fieldtype="notes" data-id="notes">
    <label class="col-sm-2 col-form-label">&nbsp;</label>
    <div class="col-sm-9">
        <textarea name="notesField" id="note" class="note-field form-control" placeholder="Click the (+) button to add more notes."></textarea>
    </div>
    <div class="col-sm-1" style="padding: 15px 0px;">
        <button type="button" class="btn btn-sm btn-outline-editorial add add-note" title="Add another note"><i class="fa fa-plus-circle"></i></button>
        <button type="button" class="btn btn-sm btn-outline-editorial remove remove-note" title="Remove note"><i class="fa fa-minus-circle"></i></button>
    </div>
</div>            
</script>

<!-- Date Template -->
<div class="form-group row input-group date-template" style="display: none;">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-4">
        <input data-parsley-dateformat="date" type="text" class="form-control datepicker" placeholder="Start Date">
    </div>
    <div class="col-sm-4">
        <input data-parsley-dateformat="date" type="text" class="form-control datepicker" placeholder="End Date">
    </div>
    <div class="col-sm-2" style="padding: 5px 0px;">
        <button type="button" class="btn btn-sm btn-outline-editorial add-date" data-row="created" title="Add another date"><i
                class="fa fa-plus-circle"></i></button>
        <button type="button" class="btn btn-sm btn-outline-editorial remove-date" data-row="created" title="Remove date"><i
                class="fa fa-minus-circle"></i></button>
    </div>
</div>
{% endif %}
{% endblock main %}