/* Back to top button styles */
#scroll {
	position:fixed;
	right:10px;
	bottom:10px;
	cursor:pointer;
	width:50px;
	height:50px;
	background-color:#3498db;
	text-indent:-9999px;
	display:none;
	-webkit-border-radius:60px;
	-moz-border-radius:60px;
	border-radius:60px
}
#scroll span {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-8px;
	margin-top:-12px;
	height:0;
	width:0;
	border:8px solid transparent;
	border-bottom-color:#ffffff;
}
#scroll:hover {
	background-color:#e74c3c;
	opacity:1;filter:"alpha(opacity=100)";
	-ms-filter:"alpha(opacity=100)";
}

#processingIcon {
	width: 34px;
	height: 34px;
	margin: auto;
	margin-top: 300px; /* In case the screen scrolls */
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	border: none;
	display: none;
}			  

.csun, .miami {
    height: 37px;
    flex-shrink: 1;
    padding: 5px;
}
.mellon {
    height: 67px;
    flex-shrink: 1;
    padding: 5px;		
}
.ucsb {
    height: 47px;
    flex-shrink: 1;
    padding: 5px;		
}
.logos-container li > a {
    border: 0;
    text-decoration: none !important;
}		
.logos-container {
    list-style-type: none;
    display: flex;  
    justify-content: flex-start;
    flex-flow: row wrap;
}
.module, .module:hover {
	border: none;
	outline: none;
	text-decoration: none;
}
input[type="text"]:disabled, textarea:disabled, select:disabled {
    cursor: not-allowed; opacity: 0.65; filter: alpha(opacity=65);
    -webkit-box-shadow: none; box-shadow: none;
}
.disabled {
    cursor: not-allowed; opacity: 0.65; filter: alpha(opacity=65);
    -webkit-box-shadow: none; box-shadow: none;
}
/*
		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		/*button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.25;
		}
*/
.bar {
    height: 18px;
    background: green;
}
.search-publications {
	cursor: pointer;
}
.limit-results {
    text-decoration: none;
    color: #7f888f;
    cursor: pointer;
    display: inline;
    font-size: 1em;
    font-weight: 400;
    padding-right: 0.75em;
    position: relative;
}
.query-box {
	height: 100px;
}
.header-container {
	margin: 0;
	padding: 0;
}
.breadcrumb-divider {
	padding-left: 5px;
	padding-right: 5px;
}
#manifestCard {
	/* Corrects a disparity in Firefox */
	padding-top: 10px;
}