{% extends "base.html" %}
{% block main %}
<!-- Section -->
<a name="features"></a>
<section>
    <!-- <header class="major">
        <h2>Actions</h2>
    </header> -->
    <div class="features">
        <article>
            <a href="/sources" class="module"><span class="icon fa-book"</span></a>
            <div class="content">
                <h3>Sources</h3>
                <p>Manage WE1S Source manifests.</p>
            </div>
        </article>
        <article>
            <a href="/corpus" class="module"><span class="icon fa-folder-open"></span></a>
            <div class="content">
                <h3>Corpus</h3>
                <p>Manage WE1S collections.</p>
            </div>
        </article>
        <article>
            <a href="/scripts" class="module"><span class="icon fa-rocket"></span></a>
            <div class="content">
                <h3>Scripts and Tools</h3>
                <p>Manage WE1S Script manifests.</p>
            </div>
        </article>
        <article>
            <a href="/projects" class="module"><span class="icon fa-folder-open"></span></a>
            <div class="content">
                <h3>Projects</h3>
                <p>Manage WE1S projects.</p>
            </div>
        </article>
        <article>
            <a href="/tasks" class="module"><span class="icon fa-folder-open"></span></a>
            <div class="content">
                <h3>Tasks</h3>
                <p>Manage the task queue.</p>
            </div>
        </article>
        <article></article>
    </div>
</section>
{% endblock main %}
